
form input[type=number], form input[type=text] {
    width: 100%;
    border-radius: 4px;
    background: #fff;
    padding: 5px;
    vertical-align: middle;
    box-shadow: 0 1px 1px 0 rgba(85, 95, 110, .2);
    display: inline-block;
    margin: 3px;
    font-size: 1.2em;
}

form input[type=submit] {
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(85, 95, 110, .2);
    width: 170px;
    height: 30px;
    margin: 3px auto;
    background: #f9f2f4;
    display: block;
    border: 1px solid #d4d8e3;
    cursor: pointer;
}

.line {
    clear: both;
    width: 50%;
    margin: 10px auto;
}

.line.form {
    margin-top: 15px;
}

#sorter, #pagination-container, #search-box {
    margin: 15px 0;
}

#sorter {
    float: right;
}

#pagination-container {
    float: left;
}

#search-box {
    width: 100%;
}

.ais-search-box {
    margin: 0 auto;
    display: block;
}

.ais-refinement-list--item {
    float: left;
    margin: 5px;
}

.row {
    cursor: pointer;
    min-height: 30px;
    width: 100%;
    float: left;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px #d4d8e3 solid;
}

.cell {
    float: left;
}

.cell.name {
    width: 75%;
}

.cell.category {
    float: right;
    border: 1px grey solid;
    padding: 2px;
    border-radius: 2px;
    font-size: 12px;

}

#deleteFieldset.highlight {
    background-color: #c4c8ce;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.message {
    color: green;
}

@media screen and (max-width: 640px) {

    #sorter, #pagination-container, #search-box {
        margin: 5px;
    }

    .line {
        width: 90%;
    }
}